@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,900;1,400;1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400&family=Roboto:ital,wght@0,400;0,500;0,900;1,400;1,500&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif ;
}
header {
    position: fixed;
    background: rgb(164, 121, 245);
    top: 0;
    left: 0;
    width: 100%;
    padding: 15px 100px;
    display: flex;
    justify-content: space-between;
    text-align: center;
    z-index: 999;
    transition: .5s ease;
}

header .brand {
    color: #fff;
    font-size: 32px;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
}

header .navigation {
    position: relative;

}

header .navigation a {
    color: #fff;
    font-size: 17px;
    font-weight: 500;
    text-decoration: none;
    margin-left: 30px ;
    transition: .5s ease;
}

header .navigation a:hover {
    color: rgb(119, 0, 255);
}

section {
    padding: 100px;
}

.main {
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    background-size: cover;
    background: url(./img/photo-4.jpg) no-repeat;
    background-position: center;
    background-attachment: fixed;
}

.main .content {
    max-width: 800px;
}

.main .content {
    color: rgb(14, 151, 243);
    font-size: 18px;
  
}

.main .content h2 span {
    font-size: 36px;
    /*font-weight: 600;*/
}

.animated-text{
    height: 70px;
    overflow: hidden;
}

.animated-text h3 {
    color: rgb(247, 151, 247);
    font-size: 36px;
    font-weight: 700;
    line-height: 70px;
    letter-spacing: 1px;
}

.animated-text h3:nth-child(1) {
    animation: text-move 10s infinite 
}

@keyframes text-move {
    0%{
        margin-top: 0;
    }
    25%{
        margin-top: -70px;
    }
    50%{
        margin-top: -140px;
    }
    75%{
        margin-top: -70px;
    }
    100%{
        margin-top: 0;
    }
}

.btn {
    color: #fff;
    background: rgb(247, 151, 247);
    font-size: 17px;
    font-weight: 600;
    display: inline-block;
    padding: 10px 20px;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 1px;
    border-radius: 2px;
    margin: 30px 0 ;
    transition: .5s ease;
}

.btn:hover {
    background: #fff;
    color: #000;
}


.media-icons a{
    color: #fff;
    font-size: 25px;
    margin-right: 30px;
}


.title {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.section-title {
    position: relative;
    font-style: bold;
    color: rgb(119, 0, 255);
    font-size: 38px;
    font-weight: 800;
    margin-bottom: 60px;
}

.section-title::before {
    content: '';
    position: absolute;
    top: 56px;
    left: 50%;
    width: 140px;
    height: 4px;
    background: rgb(119, 0, 255);
    transform: translateX(-50%);


}
.section-title::after {
    content: '';
    position: absolute;
    top: 50px;
    left: 50%;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: rgb(119, 0, 255);
    transform: translateX(-50%);